@using TSMS_Atp_2_Final_Project.Models.Com.Tsms
@model User

@{
    ViewBag.Title = "TSMS | Change Password";
    ViewBag.Description = "";
}

@section PageDescription{
    <section class="content-header">
        <h1>
            @ViewBag.Title
            <small>@ViewBag.Description</small>
        </h1>
    </section>
}

<div class="container">
    <div id="passwordreset" style="margin-top:50px" class="mainbox col-md-10 col-md-offset-1 col-sm-10 col-sm-offset-2">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">Change Password</div>
            </div>
            <div class="panel-body">
                @using (Html.BeginForm("ChangePassword", "Admin", FormMethod.Post, new { @class = "form-horizontal", @id = "passwordForm" }))
                {
                    @Html.AntiForgeryToken()
                    <p class="text-center">Use the form below to change your password. Your password cannot be the same as your username.</p>
                    <input type="password" class="input-lg form-control" name="password0" id="password0" placeholder="Old Password" autocomplete="off">
                    <label style="color:red;visibility:hidden;" id="oldpasserror"></label>
                    <input type="password" class="input-lg form-control" name="password1" id="password1" placeholder="New Password" autocomplete="off">
                    <div class="row">
                        <div class="col-sm-6">
                            <span id="8char" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> 8 Characters Long<br>
                            <span id="ucase" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> One Uppercase Letter
                        </div>
                        <div class="col-sm-6">
                            <span id="lcase" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> One Lowercase Letter<br>
                            <span id="num" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> One Number
                        </div>
                    </div>
                    @Html.PasswordFor(mode => mode.password, new { @class = "input-lg form-control", @id = "password2", @placeholder = "Confirm Password", @autocomplete = "off" })
                    <div class="row">
                        <div class="col-sm-12">
                            <span id="pwmatch" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> Passwords Match
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <input style="width:100%;" type="button" id="ChangePassword" class="btn btn-lg btn-primary" data-loading-text="Changing Password..." value="Change Password">
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/Scripts/MyCustomFile.js"></script>
    <script type="text/javascript">
        $(function () {
            $('#ChangePassword').click(function () {
                if ($('#password0').val() == "" || $('#password1').val() == "" || $('#password2').val() == "") {
                    CustomMessage('Error', "Old Password|New Password|Confirm Password Cant Be Empty", 'Close');
                }
                else if ($('#password1').val() != $('#password2').val()) {
                    CustomMessage('Error', 'New Password And Confirm Password Is Not Match!', 'Close');
                }
                else {
                    $('#passwordForm').submit();
                }
            });
        });
    </script>
    @if (ViewBag.Message != null)
    {
        <script type="text/javascript">
            $(function () {
                CustomMessage('Error', '@ViewBag.Message', 'Close');
            });
        </script>
    }
}