@model TSMS_Atp_2_Final_Project.Models.Com.Tsms.Course

@{
    ViewBag.Title = "Edit Course";
}

@section PageDescription{
    <section class="content-header">
        <h1>
            @ViewBag.Title
            <small>Tsms-admin</small>
        </h1>
    </section>
}

@using (Html.BeginForm("Edit", "Course", FormMethod.Post, new { @class = "form-horizontal", @enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        @Html.ValidationSummary(true, null, new { @class = "text-danger" })
        @Html.HiddenFor(model => model.name)
        @Html.HiddenFor(model => model.pic_path)

        <div class="row .col">
            <div style="margin-top:20px" class="mainbox col-md-12 col-md-offset-0 col-sm-8 col-sm-offset-2">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="panel-title">Edit Course - @Model.name</div>
                    </div>
                    <div class="panel-body">
                        <div>
                            <img class="center-block" style="border-radius: 3px;height: 200px;width: 200px;" id="venpic" src="@Url.Content(@Model.pic_path)">
                            <br /><br />
                            <label style="border-radius: 2px;" class="col-xs-12 btn btn-primary btn-load btn-lg" data-loading-text="Changing Picture...">
                                <input autocomplete="off" name="Modifyedpic_path" id="ifile_img" accept="image/gif,image/jpeg,image/jpg" onchange="readURL(this,'#venpic')" type="file" style="display: none;">Changen Pic
                            </label>
                            @Html.ValidationMessageFor(model => model.pic_path, null, new { @class = "text-danger" })
                        </div>
                        <br /><br /><br />
                        <div>
                            @Html.LabelFor(model => model.vendor_heading, "vendor Name", new { @class = "control-label" })
                            @Html.DropDownList("vendor_heading", (IEnumerable<SelectListItem>)ViewBag.vendor_headingList, "Select One", new { @class = "form-control input-lg", @style = "min-height:45px;width:100%;" })
                            @Html.ValidationMessageFor(model => model.vendor_heading, null, new { @class = "text-danger" })
                        </div>

                        <div>
                            @Html.LabelFor(model => model.code, new { @class = "control-label" })
                            @Html.TextBoxFor(model => model.code, new { @style = "border-radius:3px;", @class = "form-control", @placeholder = Html.DisplayNameFor(m => m.code), @autocomplete = "on" })
                            @Html.ValidationMessageFor(model => model.code, null, new { @class = "text-danger" })
                        </div>

                        <div>
                            @Html.LabelFor(model => model.adding_date, new { @class = "control-label" })
                            <div class="input-group date form_datetime col-md-12" data-date="1979-09-16T05:25:07Z" data-date-format="yyyy-mm-dd hh:ii p" data-link-field="dtp_input1">
                                @Html.TextBoxFor(m => m.adding_date, new { @class = "form-control", @size = "16", @type = "text", @value = "", @readonly = "readonly", @placeholder = Html.DisplayNameFor(m => m.adding_date) })
                                <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                                <span class="input-group-addon"><span class="glyphicon glyphicon-th"></span></span>
                            </div>
                            @Html.ValidationMessageFor(model => model.adding_date, null, new { @class = "text-danger" })
                        </div>

                        <div>
                            @Html.LabelFor(model => model.details, new { @class = "control-label" })
                            @Html.TextAreaFor(mode => mode.details, new { @style = "border-radius:3px;", @class = "form-control", @placeholder = Html.DisplayNameFor(m => m.details), @autocomplete = "on" })
                            @Html.ValidationMessageFor(model => model.details, null, new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="panel-footer">
                        <div class="panel-title">
                            <div class="form-actions no-color">
                                <input type="submit" value="Save" class="btn btn-warning" /> | @Html.ActionLink("Back to List", "Index")
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}

<script type="text/javascript">
    $('.form_datetime').datetimepicker({
        weekStart: 1,
        todayBtn: 1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        forceParse: 0,
        showMeridian: 1,
        endDate: '+0d',
        format: "yyyy-mm-dd hh:ii:ss P",
        pickerPosition: "top-left"
    });
</script>
